.head {
  color: darkred;
  text-align: center;
}
.Lorem {
  text-align: center;
}
.delete {
  background-color: rgb(241, 233, 223);
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: darkred;
}
